body {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #EEEBE6;
    font-family: 'Prompt', sans-serif;
}

h2 {
    letter-spacing: 6px;
    padding-left: 6px;
}

h5 {
    letter-spacing: 3px;
    padding-left: 3px;
}

p {
    letter-spacing: 3px;
    margin-bottom: .25rem;
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
}


/* ///// */

form {
    margin: 20px;
    padding: 20px;
    background: #FFF;
}

.material {
    position: relative;
    padding: 0;
    margin: 5px;
    border: none;
    overflow: visible;
}

.material input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px 8px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #DDD;
    font-size: 120%;
    outline: none;
    cursor: text;
}

.material input::-webkit-input-placeholder {
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}

.material input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}

.material hr {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #607D8B;
    font-size: 1px;
    will-change: transform, visibility;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
}

.material input:focus~hr {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
}

.material label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 120%;
    color: #C1B09D;
    -webkit-transform-origin: 0 -150%;
    transform-origin: 0 -150%;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    pointer-events: none;
}

.material input:focus~label,
.material input:valid~label {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}


/* ///gallery/// */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/* ///// */

.logo-img {
    width: 50px;
}

.navbar-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.navbar-nav a:hover {
    color: #E05259;
}

.banner {
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.carousel-item img {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.img-home {
    width: 100%;
}

.img-home img {
    width: 85% !important;
    margin: auto;
}

.imgg {
    width: 100%;
    overflow: hidden;
    /* margin: 20px 20px 20px 0px; */
}

.imgg img {
    width: 100%;
}

.btnHome {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.btnHome .btn {
    width: 300px;
    height: auto;
    margin: 20px 0px 0px 0px;
    border-radius: 15px;
}

.content {
    width: auto;
    height: auto;
    background: #FAF9F7;
}

.content2 {
    width: auto;
    height: auto;
    background: #EEEBE6;
}

.top_content {
    height: auto;
}

.top_content h1 {
    padding: 15px 0px 0px 0px;
}

.top_content .btn {
    /* margin-left: 23%; */
    border-radius: 25px;
}

.top_content img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    float: left;
}

.text-box-ar a {
    color: #AC5353;
}

.card img {
    text-align: center;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    background-color: #FAF9F7;
    /* #EEEBE6; */
    margin: 0pc 20px 20px 0px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Rsee {
    text-align: center;
}

.Rsee .btn {
    background-color: #C1B09D;
    border-radius: 25px;
    color: #fff;
}

.container {
    padding: 2px 16px;
}


/* ////// */

.type {
    height: 150px;
    background: #EEEBE6;
    border-radius: 100px;
    margin-left: 0px;
}

.type_text {
    text-align: center;
}

.type i {
    width: 100%;
    font-size: 60px;
    color: #000;
    padding: 1.5rem;
    text-align: center;
}

.logo {
    width: 50px;
}

footer {
    width: 100%;
    height: auto;
    font-size: 16px;
    float: left;
    background-color: #000;
}

.foot_logo {
    text-align: center;
}

.foot-img {
    width: 25%;
}

.footer_text {
    width: 100%;
    height: auto;
    float: left;
    padding-left: 10px;
    color: #fff;
}

.foot_icon {
    font-size: 30px;
    text-align: center;
    padding: 2rem;
}

.foot_icon i {
    color: #C1B09D;
    margin: 20px;
}


/* //////login */

.form {
    width: 500px;
    /* height: 520px; */
    border-style: solid;
    border-width: 2px;
    border-color: #EEEBE6;
    border-radius: 15px;
    background: #fff;
    margin: auto;
}

.form-control {
    /* background-color: #EEEBE6; */
    border-radius: 20px;
}

.form-group {
    width: 70%;
    margin: auto;
    padding-top: 30px;
}

.form-group2 .btn {
    /* width: 90%; */
    border-radius: 20px;
    font-size: large;
    text-align: center;
    height: auto;
}

.form-group2 {
    text-align: center;
    margin: auto;
    width: 70%;
}

.form-group2 p {
    font-size: smaller;
    color: #C1B09D;
}

.service {
    background: aqua;
    height: 2000;
}

.btn {
    min-width: 120px;
}

.box {
    background-color: #EEEBE6;
    width: 200px;
    height: 200px;
    float: left;
    margin: 0px 24px 0px 24px;
    border-radius: 15px;
    text-align: center;
}

.box a {
    font-size: 150px;
    color: #000;
    margin: auto;
}

.box img {
    border-radius: 15px;
    float: left;
}

.box-home {
    width: 100%;
    height: auto;
    text-align: center;
}

.box-home img {
    width: 100%;
    height: 100%;
}

.box-home2 {
    width: 100%;
}

.box-home2 img {
    width: 100%;
}

.text-box {
    width: auto;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.text-box .btn {
    width: 250px;
    margin: 0px 0px 40px 0px;
    border-radius: 15px;
}

.h-line {
    line-height: 2;
    margin-bottom: 1.5rem;
}

.h-line:after {
    content: '';
    margin-top: 10px;
    border-radius: 8px;
    width: 150px;
    height: 4px;
    background: #e5e5e5;
    display: block;
    margin: 0 auto;
}

.btn.btn-dark {
    letter-spacing: 6px;
    width: 310px;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
}

.form-group3 {
    text-align: center;
    margin: 10px;
}

.circle {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
}

.circle img {
    width: 150px;
}

.miniCir {
    width: 50px;
    height: 50px;
    text-align: right;
    margin-top: -50px;
    margin-left: 120px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
}

.miniCir img {
    width: 50px;
}

.pomotion {
    margin: 20px 0px 20px 0px;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    margin-right: 20px;
    left: 0;
    background-color: #414144;
    overflow-x: hidden;
    padding-top: 50px;
}

.box2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.box2 img {
    width: 500px;
}

.table img {
    width: 500px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

.button {
    text-align: center;
}

.dropdown {
    float: left;
}

.btu-drop {
    height: 10px;
    text-align: center;
    margin: 50px;
}

.time .btn {
    background: #56545C;
    margin: 0px 60px 60px 60px;
    color: #fff;
}

.top-list {
    height: 90px;
    margin-bottom: 50px;
}

.top-list .btn {
    float: left;
    margin-top: 50px;
}

.mb-0 .btn {
    color: black;
    /* }

.table { */
    /* background-color: #FAF9F7; */
}

.nav {
    margin: auto;
}

.nav li {
    font-size: xx-large;
    margin: 50px;
}

.nav a {
    color: #000;
}

.method {
    margin-top: 20px;
}

.icon {
    width: 150px;
    margin: 0 auto;
}

.absolute-b-r {
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon-edit {
    background-color: #EEEBE6;
    font-size: 24px;
    border-radius: 100%;
    padding: 12px;
}

.icon-edit-full {
    font-size: 80px;
    padding: 35px;
    border: 1px #C1B09D solid;
    color: #C1B09D;
    border-radius: 100%;
}

.icon-edit-full2 {
    width: 100%;
    font-size: 80px;
    padding: 35px;
    text-align: center;
    border: 1px #C1B09D solid;
    color: #C1B09D;
    border-radius: 15px;
}

.btn-small {
    width: auto !important;
    letter-spacing: 0px !important;
    font-size: 1rem !important;
    padding: 0.5rem !important;
}


/* /////ad image */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Prompt', sans-serif;
    font-size: 100%;
    font-weight: 400;
    background: #FAF9F7;
    color: #323a44;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.drop {
    width: 96%;
    height: 96%;
    border: 3px dashed #DADFE3;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}

.drop .cont {
    width: 500px;
    height: 170px;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.drop .cont i {
    font-size: 400%;
    color: #8E99A5;
    position: relative;
    /* text-align: left; */
}

.drop .cont .tit {
    font-size: 400%;
    text-transform: uppercase;
}

.drop .cont .desc {
    color: #A4AEBB;
}

.drop .cont .browse {
    margin: 10px 25%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
}

.drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#list {
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}

#list .thumb {
    height: 75px;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
    /* }

.input-group-prepend { */
    /* width: 100%; */
}


/* ///end ad image// */

@media screen and (min-width: 768px) {
    .img-home {
        width: 50%;
        float: left;
    }
    .img-home img {
        width: 100% !important;
    }
    .btnHome {
        width: 100%;
        float: left;
        text-align: center;
    }
    .btnHome .btn {
        width: 250px;
        height: auto;
        margin: 40px 0px 0px 40px;
    }
    /* .top_content .btn {
        margin-left: 50%;
    } */
    .imgg {
        width: 100%;
        float: left;
    }
    .banner {
        height: 300px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }
    .carousel-item img {
        height: 300px;
        background-position: center;
        background-size: cover;
    }
    .box img {
        border-radius: 15px;
        float: left;
    }
    .box-home2 {
        width: 50%;
        height: 200px;
        float: left;
        margin-top: 20px;
        margin-right: 20px;
    }
    /* .box-home {
        margin-bottom: 20px;
    } */
    /* .box-home img {
        width: 80%;
        height: 200px;
    } */
    .Rsee {
        padding-top: 60%;
    }
    .Rsee .btn {
        transform: rotate(-90deg);
    }
    .text-box-ar {
        text-align: left;
    }
    .method {
        width: 25%;
        float: left;
    }
    .our-method {
        height: 450px;
    }
    footer {
        margin-top: 3rem;
    }
    .foot_logo {
        padding-top: 2rem;
        float: left;
        text-align: left;
    }
    .foot-img {
        width: 10%;
        float: left;
    }
    .footer_text {
        width: 30%;
        padding-top: 2rem;
    }
    .foot_icon {
        margin-left: 70%;
    }
    .foot_icon i {
        margin: 10px;
        /* }
    .input-group-prepend { */
        /* width: 70%; */
    }
    .nav li {
        font-size: large;
        margin: 1rem 0px 1rem 0px;
    }
}

@media screen and (min-width: 1280px) {
    /* .imgg {
        height: 400px;
        width: 45%;
        float: left;
        margin: 20px 30px 20px 0px;
    } */
    .img-home img {
        width: 90% !important;
    }
    .btnHome .btn {
        width: 350px;
        height: auto;
        font-size: 2.5rem;
    }
    .banner {
        height: 500px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }
    .carousel-item img {
        height: 500px;
        background-position: center;
        background-size: cover;
        /* }
    .text-box-ar { */
        /* height: 250px; */
        /* padding-top: 20px; */
    }
    .method {
        width: 20%;
    }
    .our-method {
        height: 250px;
    }
}


/* stepper */

.steps-form {
    display: table;
    width: 100%;
    position: relative;
}

.steps-form .steps-row {
    display: table-row;
}

.steps-form .steps-row:before {
    top: 23px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem;
}

.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.steps-form .steps-row .steps-step .btn-circle {
    width: 48px;
    min-width: 70px;
    height: 48px;
    background-color: #fff;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0;
}


/* stepper */


/* switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7DE875;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7DE875;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* switch */