<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a href="/hairnate/index.html">
                <img class="logo-img center-block" src="/hairnate/images/logo-app-white.png" />
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a href="/hairnate/index.html">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item is-users">
                    <a href="/hairnate/user.html">PROFILE</a>
                </li>
                <li class="nav-item is-partner">
                    <a href="/hairnate/partner/book.html">PROFILE</a>
                </li>
                <li class="nav-item is-partner">
                    <a href="/hairnate/partner/appoinment.html">APPOINMENT</a>
                </li>
                <li class="nav-item is-partner">
                    <a href="/hairnate/partner/service.html">SERVICE</a>
                </li>
                <li class="nav-item is-partner">
                    <a href="#">HISTORY</a>
                </li>
                <li class="nav-item is-users">
                    <a href="/hairnate/bookingHome.html">PROMOTION</a>
                </li>
                <li class="nav-item is-users">
                    <a href="/hairnate/article.html">ARTICLE</a>
                </li>
                <li class="nav-item is-users">
                    <a href="/hairnate/user.html">CONTACT US</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item not-login">
                    <a href="/hairnate/login.html"><i class="fas fa-user"></i></a>
                </li>
                <li class="nav-item is-login">
                    <a href="#"><i class="far fa-bell"></i></a>
                </li>
                <li class="nav-item is-login">
                    <a onclick="logout()"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(function() {
        $('.is-login').addClass('d-none');
        $('.not-login').addClass('d-none');

        let user = localStorage.getItem('user');

        if (user) {
            $('.is-login').removeClass('d-none');

            user = JSON.parse(user);

            if (user.type == 1) $('.is-partner').addClass('d-none');
            else $('.is-users').addClass('d-none');
        } else {
            $('.not-login').removeClass('d-none');
            $('.is-partner').addClass('d-none')
        }
    })

    const logout = () => {
        localStorage.clear();
        $('.is-login').addClass('d-none');
        $('.not-login').removeClass('d-none');


        window.location.href = "/hairnate/index.html";
    }
</script>